@tailwind base;
@tailwind components;
@tailwind utilities;


.products_section{
    display: grid;
    grid-template-columns: 50% 50%;
    color: white;
    width: 80vw;
    padding: 2em;
    background-color: rgba(64, 73, 119, 0.2);
    margin: 3em auto 0;
    border-radius: 1em;
}


.products_section > .product{
    margin: 0.3em;
    padding: 1em;
    border-radius: 0.4em;
    background-color: rgba(139, 145, 175, 0.2);
}



.product_categories{
    background-color: rgba(0, 7, 40, 0.2);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 16px;
}

.products_section .lender_info{
    background-color: black;
    float: right;
    top: 0;
}

.searchbar{
    margin: 5em auto;
    display: flex;
    width: 60vw;
    justify-content: center;
}

.searchbar input{
    width: 100%;
    padding: 0.5em;
    border-bottom-left-radius: 1em;
    border-top-left-radius: 1em;
    background-color: #8596c2;
    color: white;
    border: none;
}

.searchbar button {
    padding: 0.5em;
    background-color: #2563eb;
    color: white;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

.searchbar button:hover {filter: brightness(0.8)}

/*Single product styling */
.sngl_prod{
    background-color: #3e4d67;
    /*background-color: #263444;*/
    /*background-color: #4a5568;*/
    color: white;
    width: 60vw;
    margin: 3em auto;
    padding: 2em;
    border-radius: 2em;
}

.sngl_prod .product{
    padding: 2em 1em;
}

.sngl_prod h1{
 font-size: 2em;
}

.btn{
    margin: 1em 0em;
    background-color: #1f2937;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    color: white;
}

.btn-2{
    margin: 1em 0em;
    background-color: #3c8bec;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    color: black;
}

.btn-3{
    margin: 1em 0em;
    background-color: #980000;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    color: white;
}

.accept-btn, .accept-btn-nw{
    margin: 1em 0em;
    background-color: #297c46;
    padding: 0.4em 0.6em;
    border-radius: 2em;
    color: white;
}

.btn:hover, .btn-2:hover, .btn-3:hover, .accept-btn:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.profile_product_review{

}

.profile_product_review h2{
    font-size: 2.5em;
}

.profile_products{
    display: grid;
    grid-template-columns: auto;
    gap: 2em;
}

.profile_products > .product{
    background-color: #293252;
    border-radius: 0.5em;
    padding: 0.4em;
}

.profile_buttons {
    display: flex;
    gap: 1em;
    justify-content: space-around;
    max-width: fit-content;
}

.profile_products table{
    background-color: #2d3748;
}

.profile_products td, .profile_products th{
    border: 0.15em solid black;
}

.profile_products th{
    text-align: left;
    padding: 1em 0.5em;
    background-color: #1f2937;
}

.profile_products td{
    padding: 0.5em 0.4em;
}
