@tailwind base;
@tailwind components;
@tailwind utilities;


.products_section{
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    width: 80vw;
    padding: 2em;
    background-color: rgba(64, 73, 119, 0.2);
    margin: 3em auto 0;
    border-radius: 1em;
}


.products_section > .product{
    margin: 0.3em;
    padding: 1em;
    border-radius: 0.4em;
    background-color: rgba(139, 145, 175, 0.2);
}



.product_categories{
    background-color: rgba(0, 7, 40, 0.2);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 16px;
}

.products_section .lender_info{
    background-color: black;
    float: right;
    top: 0;
}

/*Single product styling */
.sngl_prod{
    background-color: #4a5568;
    color: white;
    width: 80vw;
    margin: 1em auto;
    padding: 2em;
    border-radius: 2em;
}

.sngl_prod h1{
 font-size: 2em;
}

.sngl_prod .back_btn{
    background-color: #1f2937;
    padding: 0.4em;
    border-radius: 2em;
    color: white;
}

.sngl_prod .delete-btn{
    background-color: red;
}

.sngl_prod .delete-btn{
    padding: 0.4em;
    border-radius: 1em;
}

.sngl_prod .delete-btn:hover{
    cursor: pointer;
}
